/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * This file can be used as an entry point to import other
 *  CSS/Sass files to be included in the output CSS.
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// TODO...
// configure global font sizes in rm
.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-md {
  
}

.text-lg {
  
}

ion-toolbar {
  text-align: center;
  --background: var(--ion-color-dark);
  --color: var(--ion-color-light);

  ion-button {
    text-transform: none;
  }
}

ion-content {
  --background: var(--ion-color-light);

  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    margin: 2px;
  }
}

// :root {
// }